# Copy this file to [app]/config/config_env.rb
# Replace :[ENV_NAME] with environment name
# Replace [*] with key
# The API has the private key of the UI so it can create
# => and sign messages as if it were the UI.
# Run `rake keys_for_config` to generate these keys.
# Public key cryptography is a relic from a long lost era, but it remains in use
# => Can be changed from the encrypt/decrypt files in services/tokens folder.

config_env :[ENV_NAME] do
  set 'DB_KEY', [DB KEY]
  set 'MSG_KEY', [Session secret key]
  set 'CLIENT_ID', [GOOGLE DEVELOPER CLIENT ID]
  set 'CLIENT_SECRET' [GOOGLE DEVELOPER CLIENT SECRET]
  set 'APP_URL', [URL of the Web App for to return]
  set 'SECRET_KEY', [Secret key for API encryption]
  set 'HMAC_SECRET', [Secret key for JWT]
  set 'CANVAS_TOKEN', [Token from Canvas for test environment ONLY]
end
